/* google fonts  */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

 /* default style  */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    text-color: #222222;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222222;
}
 /* default style end  */

 /* reusabale code  */
 .container{
    max-width: 1100px;
    margin: 10px auto;

 }
 .title{
  text-align: center;
 }

 /* navabar styel  */
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
  }
  .navbar h1{
    
    display: inline-block;
  }
  .navbar .nav-menu {
  
    display: flex;
    align-items: center;
    
    background-color: #ffffff;
  }
  .navbar ul li{
    display: inline-block;
    text-transform: uppercase;
    
  }
.nav-menu a{
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}
 /* header content  design */

  section.hedar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-imges {
  width: 220px;
  height: 220px;
  background-color: rgb(141, 212, 141);
  border-radius: 50%;
  /* display: flex; */
  /* align-items: center; */
  position: relative;
}
img.profile-img {
  width: 164px;
  margin: 0 auto;
  /* line-height: 100rem; */
  position: absolute;
  top: 5%;
  left: 13%;
}
.content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: rgb(141, 212, 141);
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  color: #ffffff;
}
.skills{
  padding: 60px;
}
.skills-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}
.icon-title{
  font-size: 1rem;
    font-weight: 600;
}
/* skills section end  */

/* project section start  */
.project-list{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.card{
  background: rgb(141, 212, 141);
  border-radius: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}
.card h3{
  text-align: center;
}
.card p {
  text-align: center;
}
.card-desc {
  text-align: center;
}
.card-desc b{
  font-size: 0.8rem;
}
.card-desc span{
  font-size: 0.7rem;
}
.project-link{
  display: flex;
  justify-content: space-around;
}
.project-link span{
  margin-left: 3px;
}
